server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: utf-8
      enabled: true

spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${RDS_HOST}:3306/photogram
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}

  jpa:
    open-in-view: true
    show-sql: true
    properties:
      hibernate:
        default_batch_fetch_size: 100  # 100개씩 묶어서 가져오기
        format_sql: false
        use_sql_comments: true
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB

  security:
    user:
      name: test
      password: 1234

    oauth2:
      client:
        registration:
          facebook:
            clientId: ${FB_APP_ID}
            clientSecret: ${FB_APP_SECRET}
            scope:
              - public_profile
              - email

  session:
    store-type: redis # 세션 저장소를 Redis로 지정
    redis:
      namespace: spring:session # (옵션) Redis 내 세션 키의 접두사
  data:
    redis:
      host: ${REDIS_HOST}    # Redis EC2의 프라이빗 IP
      port: 6379             # 기본 포트

  cache:
    type: redis
s3:
  bucket: ${S3_BUCKET}
  region: ${AWS_REGION}

#cloud:
#  aws:
#    credentials:
#      access-key: ${AWS_ACCESS_KEY_ID}
#      secret-key: ${AWS_SECRET_ACCESS_KEY}
